{% extends '../base.html' %}
{% block title %} Книги {% endblock %}
{% block content %}
    <h1>Книги:</h1>
        <div class="row">
            {% for book in books %}
            <div class="col-md-4 mt-4">
                <div class="card h-100">
                    <div class="card-img-container">
                        <img src="{{ book.cover.url }}" class="card-img-top img-fluid" alt="Book Cover">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ book.title }}</h5>
                        <p class="card-text">{{ book.author }}</p>
                        <a href="{% url 'book_detail' book.pk %}" class="btn btn-primary">Детали</a>

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
{% endblock %}